/*  Origin - Colored Post Header for Prosilver */

.postheader {
    height: 20px;
    border-radius: 5px 5px 0 0; 
    border-bottom-width: 0px;       
}

.post {
    border-radius: 0 0 5px 5px;     
}
